extends base

block content
    span= `Category: ${question.category}`
    h2= question.question
    .card-columns.center
        each answer, i in question.answers
            a.card.border-info.text-center(href=`/${question._id}/${i}`)
                .card-body
                    h5.card-subtitle= answer